<launch>

    <arg name="project" default="pplio"/>
    
    <!-- Parameters -->
    <rosparam file="$(find pplio)/config/params_livox_mid70.yaml" command="load" />

    <!--- LOAM -->
    <include file="$(find pplio)/launch/include/module_loam.launch" />

    <!--- Robot State TF -->
    <include file="$(find pplio)/launch/include/module_robot_state_publisher.launch" />

    <!--- Run Navsat -->
    <!-- <include file="$(find pplio)/launch/include/module_navsat.launch" /> -->

    <!--- Run Rviz-->
    <include file="$(find pplio)/launch/include/module_rviz.launch" />

</launch>
